<template>
  <q-layout view="lHh Lpr lFf" class="animated fadeIn">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
